*

!Makefile
!README.md
!.gitignore
!.clang-format

!include/
!include/**

!libft/
!libft/**
libft/**/*.o
libft/**/*.a

!src/
!src/**
src/**/*.o
src/**/*.a

!tests/
!tests/**
tests/**/*.o
tests/**/*.a